.validation-error {
  background-color: red;
}

.validation-warning {
  background-color: #E46C09;
}

.validation-error, .validation-warning {
  position: absolute;
  margin: -1px;
  padding: 1px;
  border-radius: 4px;
  z-index: -1;
}

.snippet-hidden {
  display: none;
}

.snippet-shown {
  background-color: lightgrey;
  display: block;
}

p.expand-control {
  background-color: lightgray;
  height: 1.2em;
  text-align: center;
}

p.expand-control:after {
  content: "\21D5";
}
